

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 50px ;
}


.form-container input {
  padding: 10px;
}

.form-container > button{
    padding: 10px;
    margin-left: 0  ;
}


